<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Email Checker</title>
		<meta name="description" content="TODO" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
		/>
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
		<link rel="stylesheet" href="assets/css/Features-Clean.css" />
		<link rel="stylesheet" href="assets/css/Login-Form-Dark.css" />
		<link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
		<link rel="stylesheet" href="assets/css/Testimonials.css" />
	</head>

	<body>
		<div class="testimonials-clean">
			<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
				<div class="container">
					<a href="https://verifyemails.io/"><img class="navbar-brand" src="assets/img/logo.jpg" width="160" height="65" /></a><button
						data-toggle="collapse"
						class="navbar-toggler"
						data-target="#navcol-1"
					></button>
					<div class="collapse navbar-collapse" id="navcol-1"></div>
					<a href="index.html" style="color: white">Single Verifier &nbsp;&nbsp;</a
					><a href="bulk.html" style="color: white">Bulk Verifier &nbsp;&nbsp;</a>
					<a href="register.html" style="color: white">Register&nbsp; &nbsp;</a
					><a href="login.html" style="color: white"
						>Login&nbsp; &nbsp;</a
					><a href="about.html" style="color: white">About&nbsp; &nbsp;</a>
				</div>
			</nav>
		</div>
		<div class="features-clean">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Email Verifier</h2>
					<p class="text-center">Checking emails validation just one click away</p>
				</div>
				<div class="row features">
					<div class="col-sm-6 col-lg-4 item">
						<i class="fa fa-map-marker icon"></i>
						<h3 class="name">Works everywhere</h3>
						<p class="description">
							Our service works with any email, no matter the provider or whether it is a free or
							work domain
						</p>
					</div>
					<div class="col-sm-6 col-lg-4 item">
						<i class="fa fa-clock-o icon"></i>
						<h3 class="name">Always available</h3>
						<p class="description">
							Test any email anytime, our service is running 24 hours a day, 7 days a week
						</p>
					</div>
					<div class="col-sm-6 col-lg-4 item">
						<i class="fa fa-list-alt icon"></i>
						<h3 class="name">Customizable</h3>
						<p class="description">
							Our company offers high quality services depending exactly on your needs. You can use
							it both as single email checker and bulk email checker.&nbsp;
						</p>
					</div>
					<div class="col-sm-6 col-lg-4 item">
						<i class="fa fa-leaf icon"></i>
						<h3 class="name">Premium Features</h3>
						<p class="description">
							We offer premium features to our clients, like checking unlimited number of emails per
							day, tracking last emails checked or full detailed list about every email verified
						</p>
					</div>
					<div class="col-sm-6 col-lg-4 item">
						<i class="fa fa-plane icon"></i>
						<h3 class="name">Fast</h3>
						<p class="description">
							It only takes a few seconds to check if an email is valid and just a couple minutes to
							check an entire list full of emails
						</p>
					</div>
					<div class="col-sm-6 col-lg-4 item">
						<i class="fa fa-phone icon"></i>
						<h3 class="name">Support Team</h3>
						<p class="description">
							Our support team is always active and ready to help you if you encounter any problems
						</p>
					</div>
				</div>
				<br /><br /><br /><br />
			</div>
			<footer class="footer bg-light">
				<div class="col-lg-6 my-auto h-100 text-center text-lg-left">
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a href="about.html" style="color: white">About</a></li>
						<li class="list-inline-item"><span>⋅</span></li>
						<li class="list-inline-item"><a href="#" style="color: white">Contact</a></li>
						<li class="list-inline-item"><span>⋅</span></li>
						<li class="list-inline-item">
							<a href="#" style="color: white">Terms of &nbsp;Use</a>
						</li>
						<li class="list-inline-item"></li>
						<li class="list-inline-item"></li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">© Email Checker 2020. All Rights Reserved.</p>
				</div>
			</footer>
		</div>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
