<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Home - Email Checker</title>
		<meta name="description" content="TODO" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
		/>
		<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
		<link rel="stylesheet" href="assets/css/Custom-File-Upload.css" />
		<link rel="stylesheet" href="assets/css/divider-text-middle.css" />
		<link rel="stylesheet" href="assets/css/Drag--Drop-Upload-Form.css" />
		<link
			rel="stylesheet"
			href="assets/css/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.css"
		/>
		<link rel="stylesheet" href="assets/css/Features-Clean.css" />
		<link rel="stylesheet" href="assets/css/Login-Form-Dark.css" />
		<link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
		<link rel="stylesheet" href="assets/css/Testimonials.css" />
	</head>

	<body>
	<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
				<div class="container">
					<a href="https://verifyemails.io/"><img class="navbar-brand" src="assets/img/logo.jpg" width="160" height="65" /></a><button
						data-toggle="collapse"
						class="navbar-toggler"
						data-target="#navcol-1"
					></button>
					<div class="collapse navbar-collapse" id="navcol-1"></div>
					<a href="index.html" style="color: white">Single Verifier &nbsp;&nbsp;</a
					><a href="bulk.html" style="color: white">Bulk Verifier &nbsp;&nbsp;</a>
					<a href="register.html" style="color: white">Register&nbsp; &nbsp;</a
					><a href="login.html" style="color: white"
						>Login&nbsp; &nbsp;</a
					><a href="about.html" style="color: white">About&nbsp; &nbsp;</a>
				</div>
			</nav>
		<header
			class="masthead text-white text-center"
			style="
				/*background: url('assets/img/bg-masthead.jpg')no-repeat center center;*/ /*background-size: cover;*/ /*color: red;*/
				background-color: #00618b;
			"
		>
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<h1 class="mb-5">Verify Email, Just One Click!</h1>
					</div>
					<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
						<form action="/" method="POST" enctype="application/json">
							<div class="form-row">
								<div class="col-12 col-md-9 mb-2 mb-md-0">
									<input
										class="form-control form-control-lg"
										type="email"
										placeholder="Enter your email..."
										name="email"
									/>
								</div>
								<div class="col-12 col-md-3">
									<button class="btn btn-primary btn-block btn-lg" type="submit">
										Check Email!
									</button>
								</div>
							</div>
						</form>

						<div style="text-align: center">
							<h2 style="color: white"><br />-- test@gmil.com --</h2>
							<hr />
							<h2 style="color: green">
								<span style="background-color: #16202d"> THIS EMAIL IS RISKY!</span>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="overlay">
			<div class="container">
				<div class="row row-fitur">
					<div class="col-sm-4 col-md-4 waves-effect kolom-a">
						<div class="fitur-a"><img src="assets/img/ic-lock.png" /></div>
						<div class="separator-fitur"></div>
						<div>
							<h4 class="heading-fitur">Insert email address</h4>
							<p class="paragraf-fitur">
								Insert the email adress you want to verify. No confirmation email needed!
							</p>
						</div>
					</div>
					<div class="col-sm-4 col-md-4 waves-effect kolom-b">
						<div class="fitur-a"><img src="assets/img/ic-check.png" /></div>
						<div class="separator-fitur"></div>
						<div>
							<h4 class="heading-fitur">Result Time</h4>
							<p class="paragraf-fitur">
								You will find out if the email you provided exists in less than 5 seconds!
							</p>
						</div>
					</div>
					<div class="col-sm-4 col-md-4 waves-effect kolom-c">
						<div class="fitur-a"><img src="assets/img/ic-flaw.png" /></div>
						<div class="separator-fitur"></div>
						<div>
							<h4 class="heading-fitur">Number of emails</h4>
							<p class="paragraf-fitur">
								Feel free to check how many emails you want! The result is just a click away!
							</p>
						</div>
					</div>
				</div>
				<br /><br /><br /><br />
			</div>
		<footer class="footer bg-light">
			<div class="col-lg-6 my-auto h-100 text-center text-lg-left">
				<ul class="list-inline mb-2">
					<li class="list-inline-item"><a href="about.html" style="color: white">About</a></li>
					<li class="list-inline-item"><span>⋅</span></li>
					<li class="list-inline-item"><a href="#" style="color: white">Contact</a></li>
					<li class="list-inline-item"><span>⋅</span></li>
					<li class="list-inline-item"><a href="#" style="color: white">Terms of &nbsp;Use</a></li>
					<li class="list-inline-item"></li>
					<li class="list-inline-item"></li>
				</ul>
				<p class="text-muted small mb-4 mb-lg-0">© Email Checker 2020. All Rights Reserved.</p>
			</div>
		</footer>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/Custom-File-Upload.js"></script>
		<script src="assets/js/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.js"></script>
	</body>
</html>
