<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Email Checker</title>
		<meta name="description" content="TODO" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
		/>
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/css/Features-Clean.css" />
		<link rel="stylesheet" href="assets/css/Login-Form-Dark.css" />
		<link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
		<link rel="stylesheet" href="assets/css/Testimonials.css" />
	</head>

	<body>
	<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
				<div class="container">
					<a href="https://verifyemails.io/"><img class="navbar-brand" src="assets/img/logo.jpg" width="160" height="65" /></a><button
						data-toggle="collapse"
						class="navbar-toggler"
						data-target="#navcol-1"
					></button>
					<div class="collapse navbar-collapse" id="navcol-1"></div>
					<a href="index.html" style="color: white">Single Verifier &nbsp;&nbsp;</a
					><a href="bulk.html" style="color: white">Bulk Verifier &nbsp;&nbsp;</a>
					<a href="register.html" style="color: white">Register&nbsp; &nbsp;</a
					><a href="login.html" style="color: white"
						>Login&nbsp; &nbsp;</a
					><a href="about.html" style="color: white">About&nbsp; &nbsp;</a>
				</div>
			</nav>
		<div class="register-photo">
			<div class="form-container">
				<form method="post">
					<h2 class="text-center"><strong>Create</strong>&nbsp;An Account</h2>
					<div class="form-group">
						<input class="form-control" type="email" name="email" placeholder="Email" />
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password" placeholder="Password" />
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder="Name" />
					</div>
					<div class="form-group">
						<div class="form-check">
							<label class="form-check-label"
								><input class="form-check-input" type="checkbox" />I agree to the license
								terms.</label
							>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block" type="submit">Sign Up</button>
					</div>
					<a class="already" href="login.html">You already have an account? Login here.</a>
				</form>
			</div>
		</div>
		<footer class="footer bg-light">
			<div class="col-lg-6 my-auto h-100 text-center text-lg-left">
				<ul class="list-inline mb-2">
					<li class="list-inline-item"><a href="about.html" style="color: white">About</a></li>
					<li class="list-inline-item"><span>⋅</span></li>
					<li class="list-inline-item"><a href="#" style="color: white">Contact</a></li>
					<li class="list-inline-item"><span>⋅</span></li>
					<li class="list-inline-item"><a href="#" style="color: white">Terms of &nbsp;Use</a></li>
					<li class="list-inline-item"></li>
					<li class="list-inline-item"></li>
				</ul>
				<p class="text-muted small mb-4 mb-lg-0">© Email Checker 2020. All Rights Reserved.</p>
			</div>
		</footer>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
